body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  height: 100px;
  background-color: grey;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li{
  list-style:none;
  margin:10px;
  float: right;
  line-height: 50px;
}

#imagen{
  margin-top: 0px;
  margin-left: 200px;

}

.listContainer{
  display: row;
  flex-direction: row;
  
}

.imagen{
  height: 90px;
}

.detalle{
  text-decoration: none;
  align-self: center;
  margin-left: 10px;
  color:blue;
}

.detalleContainer{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.links{
  text-decoration: none;
}

.navContainer{
  display: flex;
  flex-direction: column;
  
}

.imgContainer{
  height: 15px;
  align-self: center;
}

.countContainer{
  margin: 30px;
}

.agregarContainer{
  margin-top: 20px;
  
}

.botonContainer{
  text-decoration: none;
}

.formContainer{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 400px;
}
